# Environments and IDEs
.venv/
.vscode/
.env

# Python junk
**/__pycache__/
*.py[cod]
*$py.class

# Research Data & Models (Folders)
data/
cache/
saved_models/
logs/

# OS Junk
.DS_Store
Thumbs.db

# Large Binaries
*.pth
*.h5
*.ckpt
*.edf